<header class="site-header">

  <div class="wrapper">

    <h1 class="site-title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    <h3 class="site-meta">{{ site.tagline }}</h3>

    <nav class="site-nav">

      
      
      
      
   
        
        
        
        
        {% for page in site.pages %}
        {% if page.title %}
        
           <div class="trigger">
        
        
        
        
    
     <a href="https://record-life.github.io/seminar" target="_self"><strong><span style="color: rgb(0, 0, 0);">소수정예 엑기스특강</span></strong></a>
        
        
        
        
        {% endif %}      
        {% endfor %}
     </div>
    </nav>

  </div>

</header>
